body{
  margin:0;
  padding-top:70px;   /* navbar ke niche content ke liye */
  font-family: Arial, Helvetica, sans-serif;
  background:#0f172a;
  color:#e5e7eb;
  min-height:100vh;
  display:flex;
  flex-direction:column;

}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg,#020617,#020617);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
}

.logo{
  width:45px;height:45px;border-radius:50%;
  background:#38bdf8;color:#020617;
  display:flex;align-items:center;justify-content:center;
  font-weight:bold
}
nav a{
  color: #e5e7eb;
  opacity: 1;
  margin: 0 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  visibility: visible;
}

nav a:hover{
  color: #38bdf8;
}

section{
  flex:1;
  padding:50px;
  max-width:1000px;
  margin:auto;
  padding-bottom:80px; /* footer overlap avoid */
}
section p{
    font-size: 20px;
}
section h2{
    font-size: 50px;
}section h1{
    font-size: 50px;
}
btn a{
    font-size: 20px;
    margin-top: 50%;
    /* padding-top: 50%; */
}
  

h1,h2{color:#38bdf8}
.card{
  font-size: 20px;
  background:#020617;padding:20px;
  border-radius:8px;margin-bottom:20px
}
.card p {
    font-size: 20px;
}
.card li {
    font-size: 20px;
}
.card b {
    font-size: 20px;
}
.skills span{
  font-size: 20px;
  display:inline-block;background:#1e293b;
  padding:8px 12px;margin:6px;border-radius:6px
}
footer{
  background:#020617;
  color:#94a3b8;
  text-align:center;
  padding:15px 0;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
}

a.btn{
  /* padding-top: 50%; */
  display:inline-block;margin-top:10px;
  padding:10px 16px;background:#38bdf8;
  color:#020617;border-radius:6px;
  text-decoration:none;font-weight:bold
}
